body {
  margin: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.site-header {
  width: 100%;
  margin-bottom: 18px;
  background-color: #eeeeee;
}

.site-navigation {
  display: flex;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  list-style: none;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.site-navigation a:hover {
  opacity: 0.8;
}

.site-navigation a:active {
  opacity: 0.3;
}

.header-logo {
  width: 160px;
  height: 65px;
  margin: 0;
  margin-right: 200px;
}

.navigation,
.cart {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation {
  width: 440px;
}

.cart {
  width: 115px;
  margin-left: auto;
}

.navigation a,
.cart a {
  color: #000000;
}

.navigation a:hover,
.navigation a:focus,
.cart a:hover,
.cart a:focus {
  color: #fb565a;
}

.navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.features {
  margin-bottom: 80px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  width: 300px;
  text-align: left;
}

.features-item:last-child {
  margin-right: 60px;
}

.features-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.button {
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-app {
  background-color: #00ca74;
}

.button-app:hover,
.button-app:focus {
  background-color: #00bc6c;
}

.button-app:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-presentation {
  background-color: #efc84a;
}

.button-presentation:hover,
.button-presentation:focus {
  background-color: #eab534;
}

.button-presentation:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding-top: 40px;
}

.principles-of-service {
  width: 680px;
  padding-top: 40px;
}

.statistics {
  width: 360px;
}

.principles-of-service b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.principles-of-service h4 {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.hz {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  list-style: none;
  text-transform: none;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}



/* pop up*/

.connection {
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}
.connection b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.connection-item label {
 font-weight: 700;
}

.connection-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #d7dcde;
}

/* catalog*/

.filters {
  width: 260px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filter ul {
  line-height: 20px;
  list-style: none;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.catalog {
  width: 765px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-list li:hover {
  background-color: #ffffff;
  border: solid 1px rgba(77, 77, 77, 0.1);
  box-shadow: 0px 6px 15px 0 rgba(0, 1, 1, 0.25);

}

.catalog-item {
  margin-bottom: 33px;
  margin-right: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-description {
  width: 360px;
  text-align: center;
  background-color: #eeeeee;

}

.maket-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}


.site-footer {
  display: flex;
  padding: 65px 0;
}

.site-footer ul {
  list-style: none;
}

.footer-social {
  width: 270px;
  margin-right: 135px;
}

.advantages {
  width: 550px;
  margin: 0;
  line-height: 22px;
  color: #444444;
}

.advantages b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}
